<!DOCTYPE html>
<html ng-app="redditClone">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forms</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  </head>
  <body ng-controller="funTimeController">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <img id="alien" alt="Brand" src="https://f.thumbs.redditmedia.com/PKtPxTg7rV0MX-qk.png">
        <a class="navbar-brand" href="">Crappy Off-Brand <span id="logotext">reddit</span></a>
        <ul class="nav navbar-nav">
          <li><a href="" ng-click=""><span class="glyphicon glyphicon-plus"></span> New Post</a></li>
          <li class="navbar-form">
            <div class="form-inline">
              <input type="text" placeholder="search" class="form-control" ng-model="">
            </div>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span>Sort by</span>
            <ul class="dropdown-menu">
              <li ng-repeat=""><a href="#" ng-click="">Sort by</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
    <form name="postForm" ng-submit="" ng-show="" class="newForm">
      <div class="form-group" ng-class="">
        <label for="title" ng-class="">Title</label>
        <input type="text" class="form-control" name="title" placeholder="Title" ng-model="" required>
    </div>
    <div class="form-group" ng-class="">
      <label for="author" ng-class="">Author</label>
      <input type="text" class="form-control" name="author" placeholder="Author" ng-model="" required>
    </div>
    <div class="form-group" ng-class="">
      <label for="image" ng-class="">
      <input type="text" class="form-control" name="image" placeholder="Img url" ng-model=""required>
    </div>
    <div class="form-group" ng-class="">
      <label for="description" ng-class="">Description</label>
      <input type="text" class="form-control" name="description" placeholder="Description" ng-model=""required>
    </div>
    <input type="submit" class="btn btn-primary" value="Add Post">
  </form>
  <div class="well" ng-repeat="post in view.posts">
    <div class="row">
      <div class="col-md-2"><img id="postimg" ng-src="{{ post.imglink }}" ></div>
      <div class="col-md-10">
        <h4>
          {{ post.title }}
        </h4>
        <p> By {{ post.author }}</p>
        <p> {{ post.description }} </p>
        <p>
          <span>
          <span class="glyphicon glyphicon-comment"></span> |
          <span class="glyphicon glyphicon-pencil"></span>
          Add Comment
          </span>
        </p>
  </div>
    <script type='text/javascript' src='app.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
