body{
  background-color: #57AD68;
  font-family: Verdana;

}
#alien{
  height:40px;
  width:auto;
  padding-left: 470px;
  padding-top: 8px;
}

#logotext{
  color:#FC662F;
  font-size: 24px;
}

#postimg {
height:140px;
width:auto;
border-radius:10px;
}

#postauthor {
margin-right:40px;
text-align: right;
font-size: 16px;
}

#addcomment {
color:#57AD68;
}

#pencil{
color:#57AD68;
}

#title{
font-size: 24px;

}
